:root {
    --brightOrange: #ec966c;
    --orange: #f2671f;
    
    --red: #c91b26;
    --shadowRed: #4e080d;
    
    --violet: #560c86;
    
    --azure: #7fbbd3;
    --shadowBlue: #57568b;
    --blue:#131261;

    --green: #6bd26b;
    --shadowGreen: #022702;

    --sunPicture: 
}